body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 30px;
    /* Fixed height */
}

.header p {
    margin: 0;
    font-size: 16px;
}

.logout button {
    background-color: #afafaf;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.logout button:hover {
    background-color: #aaaaaa;
}

.content {
    display: flex;
    padding: 20px;
    flex: 1;
    height: calc(100vh - 60px);
    box-sizing: border-box;
}

.scatter-container {
    flex: 0.5;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.scatter-container #scatter-plot {
    width: 100%;
    height: 100%;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 10px; /* Adjust the gap between images */
    flex: 0.5; /* Adjust flex if needed to fit your layout */
    overflow-y: auto; /* Enable scrolling if needed */
}

.images-container img {
    width: 100%;

    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px; /* Adjust border radius if needed */
}

.loading {
    display: none;
    text-align: center;
    padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Dropdown content links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown content when hovering */
.dropdown:hover .dropdown-content {
    display: block;
}