{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="header">
        <p>You are logged in as: <strong>{{ user.username }}</strong></p>
        <form action="{% url 'logout' %}" method="post" class="logout">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <!-- DROPDOWN MENU -->
        <div class="dropdown">
            <button class="dropbtn">Options</button>
            <div class="dropdown-content">
                <a href="{% url 'dropdown' %}?option=mens_pants">Men's Pants</a>
                <a href="{% url 'dropdown' %}?option=other">Other</a>
            </div>
        </div>
    </div>

    <div class="content">
        <!-- HEATMAP -->
        <div class="scatter-container">
            <div id="scatter-plot" style="width: 100%; height: 100%;" data-plot-data='{{ plot_data|safe }}' data-csrf-token="{{ csrf_token }}"></div>
        </div>
        <!-- IMAGES -->
        <div class="images-container" id="images-container">
            <!-- IMAGES DYNAMICALLY INSERTED HERE (ON RUNTIME) -->
        </div>
        <div class="loading" id="loading">Loading images...</div>
    </div>
    <script src="{% static 'scripts/index.js' %}" defer></script>
    <script>
        window.plotDataJson = JSON.parse('{{ plot_data|safe }}');  // Now globally accessible
        window.csrfToken = '{{ csrf_token }}';  // Now globally accessible
    </script>
</body>
</html>