{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="{% static '/images/logo.png' %}" alt="Logo">
        </div>

        <div class="dropdown">
            <button class="dropdown-button">Options</button>
            <div class="dropdown-content">
                <a href="{% url 'dropdown' %}?option=mens_pants">Men's Pants</a>
                <a href="{% url 'dropdown' %}?option=other">Other</a>
            </div>
        </div>

        <div class="user-info">
            <div class="logged-in-as">
                <p>You are logged in as: <strong>{{ user.username }}</strong></p>
            </div>
            <form action="{% url 'logout' %}" method="post" class="logout">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>

    <div class="content">
        <div class="scatter-container">
            <div id="scatter-plot" data-plot-data='{{ plot_data|safe }}' data-csrf-token="{{ csrf_token }}"></div>
        </div>

        <div class="images-container" id="images-container">
            <!-- Dynamically Inserted Images -->
        </div>
        <div class="loading" id="loading">Loading images...</div>
    </div>

    <script src="{% static 'scripts/index.js' %}" defer></script>
    <script>
        window.plotDataJson = JSON.parse('{{ plot_data|safe }}');
        window.csrfToken = '{{ csrf_token }}';
    </script>
</body>
</html>
